{% extends "admin_portal_base.html" %}
{% block title %}Upcoming Events{% endblock %}
{% block body %}
<div class="page-container">
    <h1 class="text-center header-text">Upcoming Events</h1>
    <p>Here are the upcoming events:</p>
    <ul>
        {% for event in events %}
            <li>
                <h3>{{ event.event_name }}</h3>
                <p>{{ event.description }}</p>
                <p>{{ event.dates }}</p>
                <p>{{ event.organization_name }}</p>
                <p>{{ event.contact_name }}</p>
                <p>{{ event.contact_email }}</p>
                <p>{{ event.hours_offered }}</p>
                <p>{{ event.is_in_school }}</p>
            </li>
            <hr>
        {% endfor %}
    </ul>
</div>
{% endblock %}