{% extends 'admin_portal_base.html' %}
{% block title %}Pending Requests{% endblock %}
{% block body %}
<div class="page-container">
    <h1 class="text-center header-text">Pending Requests</h1>
    <div class="pending-requests-container">
        <div class="pending-requests-card">
            <h2>Event Requests</h2>
            <div class="pending-requests-card-content">
                <p>Event Requests</p>
            </div>
        </div>
    </div>
    <div class="pending-requests-container">
        <div class="pending-requests-card">
            <h2>Service Record Requests</h2>
            <div class="pending-requests-card-content">
                <p>Service Record Requests</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}