{% extends "entrance_base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <h1 class="text-center header-text">Login</h1>
    <form method="post">
        <div class="form-container">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="login-link">
                <p>Need to make an account? <a href="/register">Register here</a></p>
            </div>
            <div class="form-group">
                <label>Email</label>
                <div class="name-container">
                    <input type="email" name="email" id="email" placeholder="Your DXSF email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Your password" required>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-submit">Login</button>
            </div>
    
        </div>
    </form>
{% endblock %}
