{% extends "student_portal_base.html" %}
{% block title %}Community Service Form{% endblock %}
{% block styles %}
    <style>
        body {
            font-family: 'EB Garamond', serif;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Oswald', sans-serif;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .form-group label {
            font-weight: 600;
        }
        .form-group label::after {
            content: "*";
            color: red;
            margin-left: 2px;
        }
        .form-group label.no-asterisk::after {
            content: "";
        }
        .form-group input, .form-group select {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 0.25rem;
        }
        .form-check {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .form-check-input {
            width: 1% !important;
        }
        .name-container {
            display: flex;
            gap: 10px;
        }
        .date-group {
            display: flex;
            flex-direction: column;
        }
        .service_date_row {
            display: flex;
            flex-direction: row;
            gap: 5px;
            margin-bottom: 5px;
        }
        .date-group-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
        .btn-date-remove {
            background-color: white;
            border: none;
            color: #dc3545;
            padding: 5px 10px;
            border-radius: 4px;
        }
        .btn-date-remove:hover {
            background-color: #c82333;
            color: white;
            cursor: pointer;
        }
        .btn-date-add {
            background-color: #002d5b;
            border: none;
            color: white;
            padding: 5px 10px;
            width: 40%;
        }
        .btn-date-add:hover {
            background-color: #0056b3;
            color: white;
            cursor: pointer;
        }
        .faculty-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            overflow-y: scroll;
            max-height: 300px;
        }
        .faculty-list li {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
        }
        .faculty-list li:hover {
            background-color: #f0f0f0;
        }
        .faculty-list li img {
            width: 48px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .faculty-list li h4 {
            margin: 0;
            font-size: 1.2rem;
        }
        .faculty-list li p {
            margin: 0;
            font-size: 1rem;
        }
        .btn-submit {
            background-color: #a30c33;
            border: none;
            color: white;
            padding: 5px 10px;
            width: 100%;
        }
        .btn-submit:hover {
            background-color: #c82333;
            color: white;
            cursor: pointer;
        }
        .file-input {
            margin-top: 5px;
        }
    </style>
{% endblock %}
{% block body %}
<form method="post">
    <div class="form-group">
        <label class="no-asterisk">I am logging...</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="in_school" id="in_school_true" value="true" {% if in_school == "true" %}checked{% endif %}>
            <label class="form-check-label no-asterisk" for="in_school_true">In-School Hours</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="in_school" id="in_school_false" value="false" {% if in_school == "false" %}checked{% endif %}>
            <label class="form-check-label no-asterisk" for="in_school_false">Out-of-School Hours</label>
        </div>
    </div>
    <h1 class="text-center header-text in-school-only">In-School Community Service Form</h1>
    <p class="text-center text-muted in-school-only">Please complete all fields in the form below to log your in-school community service hours. You currently have {{ student.in_school_hours }} hour{% if student.in_school_hours == 1 %}{% else %}s{% endif %} logged.</p>
    
    <h1 class="text-center header-text out-school-only">Out-of-School Community Service Form</h1>
    <p class="text-center text-muted out-school-only">Please complete all fields in the form below to log your out-of-school community service hours. You currently have {{ student.out_of_school_hours }} hour{% if student.out_of_school_hours == 1 %}{% else %}s{% endif %} logged.</p>
    <div class="form-group">
        <label>Name</label>
        <div class="name-container">
            <input type="text" name="student_first_name" id="student_first_name" placeholder="Your first name" value="{{ student.user.first_name }}" required>
            <input type="text" name="student_last_name" id="student_last_name" placeholder="Your last name" value="{{ student.user.last_name }}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="graduation_year">Graduation Year</label>
        <select name="graduation_year" id="graduation_year" required>
            <option value="">Select a graduation year</option>
            <option value="{{ senior_grad_year }}" {% if student.graduation_year == senior_grad_year %}selected{% endif %}>{{ senior_grad_year }}</option>
            <option value="{{ senior_grad_year + 1 }}" {% if student.graduation_year == senior_grad_year + 1 %}selected{% endif %}>{{ senior_grad_year + 1 }}</option>
            <option value="{{ senior_grad_year + 2 }}" {% if student.graduation_year == senior_grad_year + 2 %}selected{% endif %}>{{ senior_grad_year + 2 }}</option>
            <option value="{{ senior_grad_year + 3 }}" {% if student.graduation_year == senior_grad_year + 3 %}selected{% endif %}>{{ senior_grad_year + 3 }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="student_email">Email</label>
        <input type="email" name="student_email" id="student_email" placeholder="Your DXSF email" value="{{ student.user.email }}" required>
    </div>
    <hr>
    <div class="form-group date-group">
        <label for="service_date_0">Date(s) of service</label>
        <div id="service_date_container">
            <div class="service_date_row" id="service_date_row_0">
                <input type="date" name="service_date_input_0" id="service_date_input_0" placeholder="Date of service" required>
            </div>
        </div>
        <div class="date-group-buttons">
            <button class="btn btn-date-add" type="button" onclick="addServiceDate()"><i class="bi bi-plus-circle"></i> Add another date</button>
        </div>
    </div>
    <div class="form-group">
        <label for="organization_name" class="in-school-only">Event Name</label>
        <input type="text" name="organization_name" id="organization_name" class="in-school-only" placeholder="Name of community service event" required>
        
        <label for="organization_name" class="out-school-only">Organization Name</label>
        <input type="text" name="organization_name" id="organization_name" class="out-school-only" placeholder="Name of service organization" required>
    </div>
    <div class="form-group in-school-only">
        <label for="contact_search">Contact</label>
        <span class="text-muted">Search by name, email, or title</span>
        <input type="text" name="contact_search" id="contact_search" onkeyup="searchFaculty()" placeholder="Name of contact at DXSF" required>
        <ul class="faculty-list" style="display: none;">
            {% for faculty in faculty_list %}
                <li onclick="selectFaculty(this)">
                    <img src="{{ faculty.photo }}" alt="{{ faculty.name }}">
                    <div class="faculty-info">
                        <h4>{{ faculty.name }}</h4>
                        <p>{{ faculty.title }}</p>
                        <p>{{ faculty.email }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <input type="text" name="contact_name_hidden" id="contact_name_hidden" style="display: none;">
    </div>
    
    <div class="form-group out-school-only">
        <label for="out_of_school_contact_name">Contact Name</label>
        <div class="name-container">
            <input type="text" name="out_of_school_contact_first_name" id="out_of_school_contact_first_name" placeholder="First name of contact">
            <input type="text" name="out_of_school_contact_last_name" id="out_of_school_contact_last_name" placeholder="Last name of contact">
        </div>
    </div>
    <div class="form-group in-school-only">
        <label for="contact_email" style="display: none;">Contact Email</label>
        <input type="text" name="contact_email" id="contact_email" style="display: none;" required>
    </div>
    
    <div class="form-group out-school-only">
        <label for="contact_email">Contact Email</label>
        <input type="text" name="contact_email" id="contact_email" placeholder="Email address of contact at service organization" required>
    </div>
    <div class="form-group">
        <label for="hours">Hours</label>
        <input type="number" name="hours" id="hours" placeholder="Number of hours of service" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Description of service" required>
    </div>
    <div class="form-group">
        <label for="proof_of_service">Proof of service</label>
        <br>
        <span class="text-muted">Please attach a signed letter, form, or screen shot of the text, email, or photo from the organization confirming your service hours.</span>
        <input class="file-input" type="file" name="proof_of_service" id="proof_of_service" placeholder="Proof of service" required>
    </div>
    <div class="form-check mb-3 mt-4">
        <input type="checkbox" name="oath" id="oath" required>
        <label class="form-check-label" for="oath">I have completed this form truthfully and accurately.</label>
    </div>
    <br>
    <button class="btn btn-submit" type="submit">Submit</button>
</form>
<script src="{{ url_for('static', filename='js/form_logic.js') }}"></script>
{% endblock %}