{% extends "student_portal_base.html" %}
{% block title %}Student Portal{% endblock %}
{% block head %}
    <title>Student Portal</title>
{% endblock %}
{% block body %}
<body>
    <p>Hello, {{ student.user.first_name }} {{ student.user.last_name }}</p>
    <p>You have {{ student.in_school_hours + student.out_of_school_hours }} hours logged.</p>
    <p>In-school hours: {{ student.in_school_hours }} hours</p>
    <p>Out-of-school hours: {{ student.out_of_school_hours }} hours</p>
</body>
{% endblock %}